* {
    box-sizing: border-box;
}

:root {
    --Bg:#f9f9f9;
    --btn:#5236e2;
    --err:#ff5230;
    --bdr:#c9ccd2;
}

body {
    font-size: 16px;
    background-color: var(--Bg);
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    place-items: center;
    place-content: center;
}

.form-container {
    padding: 20px 10px 0 10px;
    border-radius: 3px;
    border: 1px solid var(--bdr);
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    width: 400px;
    height: 60px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
}

input,
select,
.btn {
    border-radius: 5px;
}

input,
select {
    border: 1px solid var(--bdr);
}

input:focus {
    outline: none;
    border-color: var(--btn);
}

input[type="text"],
input[type="email"],
input[type="tel"],
.btn 
{
    width: 360px;
    height: 40px;
    padding: 16px 12px;
}

.btn {
    color: var(--Bg);
    background-color: var(--btn);
    border: none;
    font-weight: bold;
    text-align: center;
    padding: 0;
    cursor: pointer;
    align-self: center;
}

#phoneField {
    display: flex;
    flex-direction: row;
    width: 360px;
    justify-content: space-between;
}

#phoneField select {
    width: 60px;
    height: 40px;
}

#phoneField input {
    width: 280px;
}

.error {
    border-color: var(--err);
}

.error-message {
    color: var(--err);
    margin-left: 2px;
    margin-top: 2px;
}

.err {
    width: 360px;
    height: 14px;
    font-size: 12px;
}

